.tooltip
  .content
  .tooltip-arrow

#user-card-popover
#ucx-chat.menu-nav
  .connection-status.status-online
  .main-content.content-background-color(style="transform: translateX(0px);")

  %div.main-content-cache.hidden
.sweet-container
