@import "../_scss/theme/imports/color_consts.scss";
#search-room {
  display: inline-block;
  width: 250px;
}
.choose-room {
  margin-top: 20px;
}
.back-permission {
  color: $tertiary-action-color;
}
.admin-settings {
  .room-title {
    text-transform: capitalize;
  }
  input[type="text"] {
    cursor: text;
  }
  select#role_scope {
    width: 100%;
  }
  .select-control {
    position: relative;
  }
}
#user-roles-container {
  margin-top: 15px;
  > h2 {
    border-bottom: 1px solid #eaeaea;
    padding-bottom: 3px;
    font-weight: 500px;

  }
}
