@import "../_scss/theme/imports/color_consts.scss";
#search-room {
  display: inline-block;
  width: 250px;
}
.choose-room {
  margin-top: 20px;
}
.back-permission {
  color: $tertiary-action-color;
}
.admin-settings {
  .room-title {
    text-transform: capitalize;
  }
  input[type="text"] {
    cursor: text;
  }
  select#role_scope {
    width: 100%;
  }
  .select-control {
    position: relative;
  }
}
#user-roles-container {
  margin-top: 15px;
  > h2 {
    border-bottom: 1px solid #eaeaea;
    padding-bottom: 3px;
    font-weight: 500px;

  }
}
td, th {
  &.right {
    text-align: right !important;
  }
}

form.backup {
  input#backup_file {
    padding: 5px 8px;
    width: 100%;
    height: 32px;
    line-height: normal;
    border-width: 1px;
    border-radius: 5px;
    outline: none;
    border-style: solid;
    border-color: #e6e6e6;
    background-color: transparent;
    color: #444;
  }
}
.content.gen-cert {
  p {
    padding-top: 5px;
    padding-bottom: 10px;
  }
}

.reset-settings {
  margin-left: 20px;
}
