/* This file is for your main application css. */
// @import "../_scss/theme/main";
@import "../node_modules/bourbon/app/assets/stylesheets/bourbon";
@import "../node_modules/mathsass/dist/math";
@import "../_scss/theme/imports/reset.scss";
@import "../_scss/theme/imports/messagepin.scss";
@import "../_scss/theme/imports/color_consts.scss";
@import "../_scss/theme/imports/variables.scss";
@import "../_scss/theme/imports/contrast.scss";
@import "../_scss/theme/imports/keyframes.scss";
@import "../_scss/theme/imports/mixins.scss";
@import "../_scss/theme/imports/colors.scss";
@import "../_scss/theme/imports/lesshat.scss";
@import "../_scss/theme/imports/rtl.scss";
@import "../_scss/theme/imports/forms.scss";
@import "../_scss/theme/imports/base.scss";
@import "../_scss/theme/imports/permissions.scss";
@import "../_scss/theme/imports/notifications.scss";
@import "../_scss/theme/imports/emoji_picker.scss";
@import "../_scss/theme/imports/reaction.scss";
@import "../_scss/theme/imports/tooltip.scss";

.flex-nav input {
  color: #fff;
}
.help-block {
  color: #ff3333;
  padding-top: 2px;

}
.input-line.has-error {
  input, select, textarea {
    border-color: #ff6666;
  }
  input:focus, select:focus, textarea:focus {
    border-color: #e60000;
  }
}
.alert-danger {
  color: red;
  border-color: red;
}
.alert-success {
  color: #155724;
  border-color: #c3f6cb;
  background-color: #d4edda;
}
.back-to-login {
  padding-top: 8px;
}
textarea.input-message::placeholder {
  color: #bbb;
  font-weight: 400;
  font-family: icons;
}
.invite-users .outstanding {
  padding-left: 20px;
}
.invite-users .outstanding h2 {
  font-size: 18px;
  line-height: 25px;
  font-weight: 400;
  padding-bottom: 10px;
}
.invite-users .outstanding button {
  padding: 4px 8px;
}
.invite-users .outstanding li span {
  margin-left: 15px;
  font-size: 15px;
  font-weight: 400;
}
.invite-users .outstanding li span .icon-verified {
  color: green;
}
.invite-users .outstanding li {
  padding-bottom: 5px;
}
.channel-settings span[data-edit] {
  cursor: pointer;
}
.channel-settings input.editing {
  margin-bottom: 5px;
}

blockquote,
pre code {
  a.auto-url {
    text-decoration: none;
    color: inherit;
    cursor: text;
    pointer-events: none;
    &:hover {
      color: inherit;
    }
  }
}
#emoji-picker {
  left: 10px !important;
}
.emojione.big {
  height: 44px !important;
  width: 44px !important;
}

.account-box h4 span.debug-info {
  display: block;
  font-size: 10px;
}
.upload-progress-text .size {
  position: absolute;
  top: 0;
  left: 250px;
}
.upload-progress-text .progress {
  padding-left: 5px;
}
// .dropzone * { pointer-events: none; }

.attachment .attachment-block {
    padding-left: 15px;
    margin: 5px 0;
    position: relative;
}

.attachment .attachment-block .attachment-block-border {
    width: 4px;
    position: absolute;
    border-radius: 8px;
    left: 0;
    top: 0;
    bottom: 0
}

html.rtl .attachment .attachment-block {
    padding-left: 0;
    padding-right: 15px
}

html.rtl .attachment .attachment-block .attachment-block-border {
    left: auto;
    right: 0
}

.attachment .attachment-author {
    font-size: 0.95rem;
    font-weight: 600;
    line-height: 1.2rem
}

.attachment .attachment-author>a {
    font-weight: 600
}

.attachment .attachment-author img {
    max-height: 16px;
    max-width: 16px;
    margin-right: 2px;
    margin-bottom: -2px
}

.attachment .attachment-author .time {
    font-weight: normal;
    font-size: 0.8em
}

.attachment .attachment-title {
    font-size: 1.02rem;
    font-weight: 500;
    line-height: 1.5rem
}

.attachment .attachment-title>a {
    font-weight: 500
}

.attachment .attachment-text {
    line-height: 1rem;
    padding: 3px 0
}

.attachment .attachment-image {
    margin-top: 4px;
    line-height: 0
}

.attachment .attachment-fields {
    margin-top: 4px
}

.attachment .attachment-fields .attachment-field.attachment-field-short {
    margin-right: 12px;
    display: inline-block
}

.attachment .attachment-fields .attachment-field .attachment-field-title {
    font-weight: 600;
    line-height: 1rem
}

.attachment .attachment-field ~ .attachment-field {
    margin-top: 8px
}

.attachment .attachment-thumb {
    padding-right: 10px;
    padding-top: 5px;
    line-height: 0
}

html.rtl .attachment .attachment-thumb {
    padding-right: 5px;
    padding-top: 10px
}

.attachment .attachment-thumb img {
    max-width: 100px
}

.attachment .attachment-flex {
    display: flex;
    align-items: flex-start
}

.attachment .attachment-flex .attachment-flex-column-grow {
    flex-grow: 1
}

.attachment .attachment-small-content {
    max-width: 700px
}

.attachment .attachment-download-icon {
    padding: 2px 5px;
    border-width: 1px;
    border-radius: 5px;
    margin-left: 5px
}

html.rtl .attachment .attachment-download-icon {
    margin-right: 5px;
    margin-left: auto
}
img.bot-img {
  height: 200px
}
section.flex-tab-container {
  form .current-setting {
    i {
      [data-play],
      [data-edit] {
        cursor: pointer;
      }
    }
  }
}
.list-view.devices {
  form {
    label {
      display: block;
      font-weight: bold;
      margin-bottom: 5px;
      margin-top: 10px;
    }
    fieldset {
      padding: 0 10px 10px 10px;
      border: 1px solid #e6e6e6;
      margin-bottom: 15px;
      legend {
        font-weight: bold;
        // margin-left: 5px;
        // margin-right: 5px;
      }
    }
  }
}
a.phone-number {
  margin-right: -2px;
  padding-right: 2px;
  .phone-cog {
    display: none;
  }
}
a.phone-number:hover {
  text-decoration: underline;
  .phone-cog,
  .phone-cog:hover {
    position: relative;
    display: inline;
    .message-dropdown {
      position: absolute;
      left: +1px;
    }
  }
}
.content.account,
.about {
  form li.boolean {
    .input.checkbox.toggle {
      input:checked+label::before {
        background-color: #a6d256;
      }
    }
  }
}
.about form li.boolean {
  color: #444;
  font-size: 14px;
  font-weight: 400;
}

footer.footer span.version {
  color: #bbb;
  width: 120px;
  display: block;
  float: right;
  font-size: 10px;
}

.room-link {
  .status-message {
    font-size: x-small;
    vertical-align: top;
    padding-left: 8px;
    text-overflow: ellipsis;
  }
  &.active .status-message {
    color: white;
    font-weight: bold;
  }
}

nav.options {
  .status-message-box {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #888;
    position: relative;

    option[value="__clear__"] { color: red; }
    option[value="__new__"] { color: green; }

    input {
      width: 100%;
      padding: 8px;
      border-radius: 5px;
      border-width: 1px;
      background-color: rgba(255,255,255,0.1);
      &:focus {
        border-color: rgba(255, 255, 255, 0.5);
      }
    }
    .status-message-input {
      .buttons {
        position: absolute;
        border-radius: 0 4px 4px 0;
        top: 2px;
        right: 21px;
        .button {
          padding: 0px;
          display: inline-block;
          background-color: #6c6c6c;
          width: 22px;
          height: 31px;
          border-width: 0;
          &.save {
            border-radius: 0 5px 5px 0;
          }
        }
      }
    }
  }
}
.account-box {
  .status-message {
    display: block;
    font-size: x-small;
    color: #a6d256;
  }
}
.room-topic.status-message {
  color: #5a7920;
}

.side-nav {
  .-autocomplete-list {
    background-color: #999;
    opacity: .9;
    z-index: 1000;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding-top: 3px;
    .-autocomplete-item {
      border-top: 1px solid #ccc;
      &:first-child {
        border: none;
      }
    }
  }
  ul.selected-users {
    li {
      border-radius: 3px !important;
    }
  }

  .rooms-list {
    &.search {
      h3,
      .empty,
      .more {
        display: none;
      }
      .opt {
        display: none;
      }
      li.room-link.active {
        background-color: inherit !important;
      }
      .search-empty {
        padding-top: 15px;
        padding-left: 5px;
        font-weight: bold;
      }
    }
  }
}
