$phone-header-height: 30px;
$phone-footer-height: 30px;

$buttn-size: 70;
$buttn-gutter: 3;
$main-phone-width: ((5 * $buttn-size) + ($buttn-gutter * 4));

$buttn-width: #{$buttn-size}px;
$buttn-height: #{$buttn-size}px;
$buttn-gutter-size: #{$buttn-gutter}px;

$phone-container-width: #{$main-phone-width}px;
$phone-container-height: #{(4 * $buttn-size) + ($buttn-gutter * 3)}px;
$key-strip-width: #{$buttn-size + $buttn-gutter}px;
$dialpad-width: #{(3 * $buttn-size) + (2 * $buttn-gutter)}px;

$double-wide-width: #{2 * $buttn-size + $buttn-gutter}px;
$softkey-width: #{(($main-phone-width - (3 * $buttn-gutter)) / 4) }px;
$softkey-height: #{($buttn-size / 2)}px;
$softkey-padding-top: #{($buttn-size / 4 - 6)}px;

html, body {
  background: black;
}
.mscs-container {
  margin-left: 20px;
  margin-top: 20px;

  .buttn {
    // border: none;
    // border-radius: 7px;
    // background: none;
    padding: 0;
    margin: 0;
  }

  .mscs {
    display: inline-flex;
    flex-flow: row nowrap;
    width: $phone-container-width;
    // padding: 30px;

    .phone-container {
      width: $phone-container-width;

      display: inline-flow;
      flex-flow: row wrap;
      .keys {
        border-radius: 7px;
      }
      .header {
        color: white;
        height: $phone-header-height;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        .brand {
          flex: 0 1;
          img { width: 28px; }
        }
        .tag-line {
          flex: 0 1 auto;
          font-size: 12px;
          margin-left: 5px;
        }
        .call-progress {
          flex: auto;

          ul {
            padding: 0; margin: 0;
            display: flex;
            flex-flow: row nowrap;
            justify-content: flex-end;
            align-items: center;

            li {
              list-style-type: none;
              padding: 0;
              margin: 0;
              &.help-btn {
                flex: 0 1 25px;
                font-size: 20px;
                padding-bottom: 4px;
                cursor: pointer;
              }
              &.header-lamp {
                flex: 0 1 20px;
                img { height: 13px }
                &.off {
                  opacity: 0.5;
                }
              }
              &.fk-msg-waiting {
                margin-right: 10px;
                margin-left: 2px;
              }
              &.power-btn {
                flex: 0;
                img { height: 16px; }
                cursor: pointer;
              }
            }
          }
        }
      }
      .display-container {
        display: flex;
        flex-direction: column;
        margin-bottom: 5px;
        border-radius: 8px;
        padding: 25px 10px;

        .row {
          display: flex;
          flex: 1;
          padding: 2px 0;
        }
        .icon-field { flex: 0.6; }
        .display-line {
          flex: 8;
          text-align: left;
        }
        .dt { flex: 2; }
        .context { flex: 4; }
      } // end .display-container

      .softkeys-container {
        flex: 1 0 100%;
        display: flex;
        flex-flow: row wrap;
        align-items: stretch;
        justify-content: space-between;
        align-content: stretch;
        margin-bottom: 5px;

        .keys {
          border-radius: 7px;
          .buttn {
            width: $softkey-width;
            height: $softkey-height;
            .label {
              text-align: center;
              padding: 0;
              padding-top: $softkey-padding-top;
            }
          }
        }
      }

      .keys-container {
        flex: 1 0 100%;
        display: flex;
        flex-flow: row nowrap;
        border-radius: 7px;
        width: $phone-container-width;
        height: $phone-container-height;

        .keys.double-wide {
          width: $double-wide-width;
        }

        .keys {
          display: flex;
          flex-flow: column wrap;
          border-radius: 7px;
          .buttn {
            height: $buttn-height;
            width: $buttn-height;
            text-align: center;
            .numero {
              padding: 10px 0 5px 0;
              width: 70px;
              text-align: center;
              flex: 1;
            }
            .alpha {
              text-align: center;
              text-decoration: uppercase;
              flex: 1;
              padding-bottom: 5px;
            }
          }
        }

        .key-strip {
          width: $key-strip-width;
          display: flex;
          flex-flow: row wrap;
          align-content: space-between;
          justify-items: stretch;

          .buttn .label {
            margin-top: #{$buttn-size - 18}px;
          }

          &.left {
            .keys.image.volume {
              .buttn {
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;

                .vol-up, .vol-down { flex: 1; }
              }
            }
          }
          &.right {
            justify-content: flex-end;
          }
        } // .key-strip

        .keys-pad {
          display: flex;
          flex-flow: row wrap;
          justify-content: space-between;
          align-content: space-between;
          align-items: stretch;
          width: $dialpad-width;

          .keys {
            .buttn .label {
              margin-top: #{$buttn-size - 18}px;
            }
          }
          &.aux-pad .cursor-keys-container {
            width: $double-wide-width;
            display: flex;
            flex-flow: row wrap;
            .cursor-arrows {
              flex: 1;
              &.top-arrow {
                flex: 3 0 100%;
              }
              &.bottom-arrow {
                flex: 3 0 100%;
              }
            }
          }
        } // .keys-pad
      }

      .footer {
        color: white;
        height: $phone-footer-height;
        font-size: 10px;
        text-align: center;
        .blank-line {
          font-size: 4px;
        }
      }
    } // .phone-container

    .pk-strips-container {
      flex: auto;

      display: flex;
      flex-flow: row nowrap;
      margin-top: $phone-header-height;
      margin-bottom: $phone-footer-height;

      .pk-strip {
        flex: 1;
        align-content: space-between;
        display: flex;
        flex-flow: row wrap-reverse;
        align-items: stretch;

        margin: 0;
        margin-left: 5px;
        padding: 8px 5px;
        border-radius: 7px;

        .pk {
          flex: 1 0 100%;

          .buttn {
            border-radius: 5px;
            width: 85px !important;
            .label {
              flex: 4;
              text-align: right;
              padding: 6.5px;
            }
          }
        }
      }
    }
    // end pk-strips-container
    .keys {
      cursor: pointer;
    }
  }


}

