.phone-idle {
  color: #4dff4d;
  rotate: 135deg;
}
.phone-busy {
  color: #bc2031;
  rotate: 0deg;
}
.phone-offline {
  color: gray;
  rotate: 135deg;
}
.phone-away {
  color: #fcb316;
  rotate: 135deg;
}
