.phone-idle {
  color: #4dff4d !important;
  transform: rotate(135deg);
}
.phone-busy {
  color: #bc2031 !important;
  transform: rotate(0deg);
}
.phone-offline {
  color: gray !important;
  transform: rotate(135deg);
}
.phone-away {
  color: #fcb316 !important;
  transform: rotate(135deg);
}

.side-nav li i.icon-phone {
  margin-left: 3px;
}
