.content
  .user-view
    = if @user do
      = UccChatWeb.FlexBarView.render "user_edit.html", user: @user, current_user: @current_user
    - else
      .about.clearfix
        p= ~g(Please select a User)
