.content
  .list-view.animated
    .title
      %h2 Members List
      .buttons-group
      .control
        .search-form
          .input-line.search
            %input#user-add-search.search.content-background-color(type="text" placeholder="Add users")
            %i.icon-plus.secondary-font-color
      %p
        = get_users_list_stats(@users, @user_info)
        %button.see-all.show-all(rebel-click="flex_call" data-id="members-list" flex-fun="flex_show_all" data-fun="flex_show_all") Show all
    %ul.list.clearfix.lines
      - for user <- @users do
        = render "users_list_item.html", user: user, channel_id: @channel_id
  .content#flex-user-card-details
