= render "nav_bar.html"

.content
  .container-fluid
    .row
      .col-xs-10
        .row
          .col-xs-12
            .card
              .card-content
                .row
                  .col-xs-1
                  .col-xs-11
                    .row
                      .col-xs-6 E-Metrotel
                      .col-xs-3 Apr 17
                      .col-xs-3 10:25 pm
                    .row
                      .col-xs-12 6 new messages
                    .row
                      .col-xs-12 2003@ucx-dev6-mscs
                    .row
                      .col-xs-12 localIP : 10.30.15.114
        .row
          .col-xs-3
            %button.btn.soft-key
              MSB
              .ripple-container
          .col-xs-3
            %button.btn.soft-key
              &nbsp;
              .ripple-container
          .col-xs-3
            %button.btn.soft-key
              Forward
              .ripple-container
          .col-xs-3
            %button.btn.soft-key
              HotDesk
              .ripple-container

        .row
          .col-xs-1
            %button.btn.btn-lg
              &nbsp;
              .ripple-container
            %button.btn.btn-lg
              &nbsp;
              .ripple-container
            %button.btn.btn-lg
              &nbsp;
              .ripple-container
            %button.btn.btn-lg
              &nbsp;
              .ripple-container
          .col-xs-10
            .row
              .col-xs-4
                %button.btn.btn-lg
                  1
                  .ripple-container
                %button.btn.btn-lg
                  4
                  .ripple-container
                %button.btn.btn-lg
                  7
                  .ripple-container
                %button.btn.btn-lg
                  *
                  .ripple-container
              .col-xs-4
                %button.btn.btn-lg
                  2
                  .ripple-container
                %button.btn.btn-lg
                  5
                  .ripple-container
                %button.btn.btn-lg
                  8
                  .ripple-container
                %button.btn.btn-lg
                  0
                  .ripple-container
              .col-xs-4
                %button.btn.btn-lg
                  3
                  .ripple-container
                %button.btn.btn-lg
                  6
                  .ripple-container
                %button.btn.btn-lg
                  9
                  .ripple-container
                %button.btn.btn-lg
                  H
                  .ripple-container
            .col-xs-1
              %button.btn.btn-lg
                &nbsp;
                .ripple-container
              %button.btn.btn-lg
                &nbsp;
                .ripple-container
              %button.btn.btn-lg
                &nbsp;
                .ripple-container
              %button.btn.btn-lg
                &nbsp;
                .ripple-container



      .col-xs-2
